{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-decorators-legacy",
        [
          "babel-plugin-dotenv",
          {
            "replacedModuleName": "react-native-dotenv",
            "matchPrefix": "RC_",
            "includeProcessEnv": {
              "DEBUG": "log:*,error:*",
              "NODE_ENV": "development"
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-decorators-legacy",
        [
          "babel-plugin-dotenv",
          {
            "replacedModuleName": "react-native-dotenv",
            "matchPrefix": "RC_",
            "includeProcessEnv": {
              "DEBUG": "error:*",
              "NODE_ENV": "production"
            }
          }
        ]
      ]
    }
  }
}
